header {
	height: 54px;
    background-color: $background--dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon__githubLogo {
    padding-right: 15px;
}

.form__container {
    width: 100%;
    display: flex;
	justify-content: space-between;
    align-content: center;
}

.form__fieldContainer {
    display: flex;
    flex-direction: row;
}

.form__input {
    border: 1px solid $background--dark;
    background-color: $background--input;
    font-size: 14px;
    min-height: 30px; 
    border-radius: 3px;
    padding: 0px 8px;
    color: white;
    &:focus { 
        background-color: lighten($background--input,5%);
        border-bottom: 2px solid lighten($background--input,40%);
        outline: none; 
    }
}

.form__labelContainer {
    display: inline-block;
    background-color: $background--input;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__label {
    // border: 1px solid $background--dark;
    // background-color: $background--input;
    // min-height: 30px; 
    // line-height: 30px;
    // border-radius: 3px;
    // padding: 0px 8px;
}

nav { 
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: $base;
    font-weight: $bold;
    margin: 0;
    color: rgba(225,225,225,0.75);
    margin-right: 30px;
    &:hover {
        color: white;
    }
}

