ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	max-width: 980px;
	width: 100%;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

// MQs

@mixin respond-to($breakpoint) {
	@if $breakpoint == "small" {
		@media (max-width: 320px) {
			@content;
		}
}

	@else if $breakpoint == "medium" {
		@media (max-width: 786px) {
			@content;
		}
}

	@else if $breakpoint == "large" {
		@media (max-width: 880px) {
			@content;
		}
	}

	@else {
		@media ($breakpoint) {
			@content;
		}
	}
}