body {
	font-family: 'roboto', sans-serif;

}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;
	
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 0em 2em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

// MQs

@mixin respond-to($breakpoint) {
	@if $breakpoint == "small" {
		@media (max-width: 440px) {
			@content;
		}
}

	@else if $breakpoint == "medium" {
		@media (max-width: 600px) {
			@content;
		}
}

	@else if $breakpoint == "large" {
		@media (max-width: 786px) {
			@content;
		}
	}

	@else {
		@media ($breakpoint) {
			@content;
		}
	}
}