.landing__container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 47px;
	padding: 15px;
	@include respond-to("small") {
		margin-top: 107px;
	};
}	

.landing__flexContainer {
	display: flex;
}

.landing__logoContainer {
	padding-right: 30px;	
	display: flex;
	justify-content: center;
	align-items: center; 
}

.landing__welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card__title--landing .card__desc--landing {
	text-align: center;
}

.card__title--landing {
	margin-bottom:0.5em;
}

.landing__welcome {
	display: flex;
	align-items: center;
	svg {
		margin-right: 20px;
	}
}