.appOutputs {
	background-color: $background--mediumGrey;
	padding: 2em 0em;
}
.cardsContainer {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;

	background-color: $background--mediumGrey;
	@include respond-to("medium") {
		grid-template-columns: 1fr;
	}
}

.wrapper--main {
	@include respond-to("small") {
		padding: 0 0.5em;
	};
}