// Colours

// Background
$background--dark: #24292E;
$background--input: #3F4448;
$secondary: #80e27e;
$accent: #ffea00;

$darkGrey: #222;
$mediumGrey: #4a4a4a;
$lightGrey: #6e6e6e;

$lightText: #fff;

